
.imagen {
  height: 4rem;
  width: 4rem;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .imagen {
    animation: imagen-spin infinite 10s linear;
  }
}
@keyframes imagen-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
