
.imagen {
  height: 5rem;
  margin-right: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .imagen {
    animation: imagen-spin infinite 10s linear;
  }
}
@keyframes imagen-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
